<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Datos del cliente</h4>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-12 col-md-3">
                        <p>imagen</p>
                    </div>
                    <div class="col-md-9">
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <td>Jorge</td>
                                </tr>
                                <tr>
                                    <th>Direccion</th>
                                    <td>ves</td>
                                </tr>
                                <tr>
                                    <th>distrito</th>
                                    <td>ñaua</td>
                                </tr>
                                <tr>
                                    <th>Telefono fijo</th>
                                    <td>J3124</td>
                                </tr>
                                <tr>
                                    <th>Celular</th>
                                    <td>54646</td>
                                </tr>
                                <tr>
                                    <th>email</th>
                                    <td>dasdasfasd123</td>
                                </tr>
                                <tr>
                                    <th>Ingreso</th>
                                    <td>dasdas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>