<div class="row">
    <div class="col-12">
        <div class="card m-b-10">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Datos del cliente</h4>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-12 col-md-3">
                        <p>imagen</p>
                    </div>
                    <div class="col-md-9">
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                    <th>Nombre</th>
                                    <td>Jorge</td>
                                </tr>
                                <tr>
                                    <th>Direccion</th>
                                    <td>ves</td>
                                </tr>
                                <tr>
                                    <th>distrito</th>
                                    <td>ñaua</td>
                                </tr>
                                <tr>
                                    <th>Telefono fijo</th>
                                    <td>J3124</td>
                                </tr>
                                <tr>
                                    <th>Celular</th>
                                    <td>54646</td>
                                </tr>
                                <tr>
                                    <th>email</th>
                                    <td>dasdasfasd123</td>
                                </tr>
                                <tr>
                                    <th>Ingreso</th>
                                    <td>dasdas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="#" class="btn btn-success m-3">Editar</a>
            <a href="#" class="btn btn-danger m-3">Eliminar</a>
            <a href="#" class="btn btn-secondary m-3"><i class="fa fa-calendar"></i></a>
            <a href="#" class="btn btn-warning m-3">Estética</a>
            <a href="#" class="btn btn-outline-primary m-3">LISTADO DE CLIENTES</a>
        </div>
        <div class="card mt-5">
            <div class="card-header bg-success d-flex justify-content-between">
                <h4 class="m-b-0 text-white">Pacientes</h4>
                <a href="#" class="btn btn-secondary"><i class="fa fa-plus"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Especie</th>
                                <th>Raza</th>
                                <th>Sexo</th>
                                <th>Fecha Nac.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Carmela</td>
                                <td>Carmelachis</td>
                                <td>ShandyShnauzer</td>
                                <td>Hembrita</td>
                                <td>febrero</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>